#data-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  justify-content: center;
  margin: 0 auto;
}
.data-item {
  border: 2px solid black;
  padding: 10px;
  width: 250px;
  margin: 0 20px;
  height: 400px;
  overflow: scroll;
  margin-bottom: 15px;
}
.data-item span {
  font-size: 20px;
  font-weight: bold;
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  #data-wrapper {
    grid-template-columns: repeat(2, minmax(100px, 300px));
  }
}
@media (max-width: 648px) {
  #data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
